@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.editable {
  @apply max-w-md mx-auto;
}

.blockGraft__title {
  @apply text-2xl block;
}

.blockGraft__heading {
  @apply text-xl italic block;
}

.chapter {
  @apply text-xl block mx-2 mt-4 not-italic font-normal text-left indent-0;
}

.verses {
  @apply text-sm m-2;
}

.blockTag__p {
  @apply indent-0;
}

.blockTag__q {
  @apply indent-4;
}

.blockTag__d {
  @apply text-center leading-snug italic font-light;
}

.character__qs {
  @apply float-right italic font-light;
}
